<!DOCTYPE html>
<html lang="en" class="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard - Product</title>

  <!-- Tailwind is included -->
  <link rel="stylesheet" href="css/main.css?v=1628755089081">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">


  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"/>
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#00b4b6"/>
</head>
<body>

<div id="app">


<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
      Admin <b class="font-black">Dashboard</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li class="--set-active-forms-html">
        <a href="/dashboard">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Home</span>
        </a>
      </li>
      <li class="--set-active-tables-html">
        <a href="/dashboard/product">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Product</span>
        </a>
      </li>
      <li class="--set-active-forms-html">
        <a href="/dashboard/hpp">
          <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
          <span class="menu-item-label">HPP</span>
        </a>
      </li>
      <li class="active">
        <a href="/dashboard/transaction">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Transaction</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Dashboard</li>
    </ul>
  </div>
</section>

<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      Semua Transaksi
    </h1>
  </div>
</section>

  <section class="section main-section">
    
    <div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          List Transaksi
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
        <table>
          <thead>
          <tr>
            <th>Tanggal</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>NomorHP</th>
            <th>Total</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for transaction in transactions %}
            <tr>
              <td data-label="Date">{{ transaction.createdAt }}</td>
              <td data-label="Name">{{ transaction.name }}</td>
              <td data-label="Address">{{ transaction.address }}</td>
              <td data-label="Phone">{{ transaction.phone }}</td>
              <td data-label="Total">{{ transaction.total }}</td>
              <td>
              <button class="button small green --jb-modal"  data-target="modal-{{ transaction.id }}" type="button">
                <span class="icon"><i class="mdi mdi-eye"></i></span>
              </button>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </section>

{% for transaction in transactions %}
  <div id="modal-{{ transaction.id }}" class="modal">
    <div class="modal-background --jb-modal-close"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Sample modal</p>
      </header>
      <section class="modal-card-body">
        <div class="card has-table">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
              Product yang di order oleh {{ transaction.name }}
            </p>
            <a href="#" class="card-header-icon">
              <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
          </header>
          <div class="card-content">
            <table>
              <thead>
              <tr>
                <th>Nama Produk</th>
                <th>Warna</th>
                <th>Ukuran</th>
                <th>Harga Satuan</th>
                <th>Jumlah</th>
                <th>Total</th>

              </tr>
              </thead>
              <tbody>
              
                {% for item in transaction.transactionItem %}
                  <tr>
                    <td data-label="ProductName">{{ item.title }}</td>
                    <td data-label="Color">{{ item.color }}</td>
                    <td data-label="Size">{{ item.size }}</td>
                    <td data-label="Price">{{ item.price }}</td>
                    <td data-label="Qty">{{ item.jumlah }}</td>
                    <td data-label="Total">{{ item.total }}</td>

                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button --jb-modal-close">Cancel</button>
        <button class="button blue --jb-modal-close">Confirm</button>
      </footer>
    </div>
  </div>
{% endfor %}

</div>

<!-- Scripts below are for demo only -->
<script type="text/javascript" src="js/main.min.js?v=1628755089081"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/main.min.js') }}"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="js/chart.sample.min.js"></script>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

</body>
</html>
