<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-YEGY4Nz4N4iFypxRvKdX62y76QYZyG1tW/Bf3qK3tZnTcLzB3fIf1q0FnXztA3PpJmqG03/eRiJhVcYzZ2lbUA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</head>
<body>
    <title>Keranjang</title>
</head>
<body>
    <div class="container mx-auto p-5">
        <div class="md:flex md:flex-row md:justify-between text-center text-sm sm:text-base">
          <div class="flex flex-row justify-center mt-3">
            <a href="#" class="bg-gradient-to-r from-purple-400 to-red-400 w-10 h-10 rounded-lg"></a>
            <a href="#"class="text-3xl text-gray-600 ml-2">Profile</h1>
          </div>
          <div class="mt-2">
            <a href="/" class="text-gray-600 hover:text-purple-600 p-4 px-3 sm:px-4">Home</a>
            <a href="https://wa.me/6282129840823" class="text-gray-600 hover:text-purple-600 p-4 px-3 sm:px-4">Contact : Admin 1</a>
            <a href="https://wa.me/628988224866" class="text-gray-600 hover:text-purple-600 p-4 px-3 sm:px-4">Contact : Admin 2</a>
            
          </div>
        </div>

        <div class="container my-5">
          <h1 class="text-center mb-5">Cart Produk</h1>
          <div class="row">
            <div class="col-md-8">
              <ul class="list-group">
                {% for item in items %}
                  <li id="produk-list"class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column">
                      <h5 id="title-Produk">{{ item.title }}</h5>
                      <div class="size-container">
                        Size : {{ item.size }}
                      </div>
                      <div id="colorSubmit">
                        color : {{ item.warna }}
                      </div>
                      <div id="quantiti">
                        qty : {{ item.jumlah }}
                      </div>
                      <div id="harga-Produk">
                        Harga Satuan: {{ item.harga }}
                      </div>
                      <div id="totalHarga-Produk">
                        <strong>Total harga:</strong> <p id="tproduct">{{ item.total }}</p>
                      </div>
                    </div>
                    <div>
                      <form action="/delete-cart/{{ item.id }}" method="POST">
                        <button type="submit" class="btn btn-sm btn-danger">Hapus</button>
                      </form>
                    </div>
                    </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="col-md-4">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Cart</h5>
                  <ul class="list-group list-group-flush">
                    <li id="produk-cart1" class="list-group-item"></li>
                    <li class="list-group-item font-weight-bold">Total: Rp. <span id="ttharga">0</span></li>
                  </ul>
                </div>
              </div>
              <form action="/checkout" method="POST">
                <input id="fidtotal" name="ftotal" type="hidden" value=0>
                <button type="submit" class="btn btn-primary btn-block">Checkout</button>
              </form>
            </div>
          </div>
        </div>
        
    </div>

  

    </div>
    <script>
      total = 0;
      totals = document.querySelectorAll('#tproduct');
      totals.forEach(element => {
        total+=parseInt(element.innerHTML);
      });
      pprice = document.getElementById("ttharga");
      pprice.innerHTML = total;
      fprice = document.getElementById("fidtotal");
      fprice.value = total;
    </script>
</body>
</html>